<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<title><%= @page_title || @item.title %></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en-au" />
    <%= javascript_include_tag 'jquery-1.3.2.min.js' %>
    <script>
      jQuery.noConflict();
    </script>    
    <%= javascript_include_tag 'jquery.flot.js' %>
    <!--[if IE]><script language="javascript" type="text/javascript" src="excanvas.pack.js"></script><![endif]-->
	</head>

	<body>

    <h1>Requirements Burndown</h1>

    <h2> Table </h2>
  
    <table>
      <tr>
        <th>Date</th>
        <% statuses = Status.find_all_by_type_name('Requirement', :conditions => ["generic_stage in (?) and enabled = 't'", Status.in_progress], :order => 'sequence') %>
        <% statuses.each do |s| %>
          <th><%= s.value %></th>
        <% end %>
      </tr>
    
      <% dates = @burndown.inject([]) {|m,o| m + o[1].keys }.sort.uniq %>
      <% dates.each do |d| %>
        <tr>
          <td><%= d.to_formatted_s(time_format) %></td>
          <% statuses.each do |s| %>
            <td class='right'><%= @burndown[s.id][d] %></td>
          <% end %>
        </tr>          
      <% end %>
    
    </table>
  
    <h2> Graph</h2>
    <div id="flot" style="width:600px;height:300px">&nbsp;</div>
    <% 
      series = statuses.collect do |s|
        dates = @burndown[s.id].keys.sort
        utc_offset = Time.now.utc_offset
        points = dates.collect do |date|
          "[ #{(date.to_f + utc_offset)*1000}, #{@burndown[s.id][date]} ]"
        end
        " { label: \"#{s.value}\", data: [ #{points.join(',')} ] } "
      end    
      flot_data = series.join(',')
    %>
    <script>
      var data = [ 
        <%= flot_data %>
      ]
      var options = { 
        legend: { position: "nw" }, 
        xaxis: { mode: "time" },
        selection: { mode: "x" }
      }
      
      var placeholder = jQuery("#flot");
      var plot = jQuery.plot(placeholder, data, options);

      placeholder.bind("plotselected", function (event, ranges) {
        jQuery.plot(placeholder, data,
          jQuery.extend(true, {}, options, {
            xaxis: { min: ranges.xaxis.from, max: ranges.xaxis.to }
          })
        );
      });
      placeholder.bind("plotunselected", function () {
        jQuery.plot(placeholder, data, options);
      });

    </script>

    <h2> Debug </h2>
    <%= debug @burndown %>
    
  </body>
</html>
