<div id="centrecol"> 

  <h1>Road map</h1>
  <pre><%= @dot_spec %></pre>
  <h2>Diagram</h2>
  <%= @cmapx_text %>
  <img src="<%= url_for :action => 'roadmap_img' %>" alt="Road map" usemap="#roadmap" />  
  
</div>

