Hello,

These details will give you access to <%= $app_title %>.

The application is located here: <%= $app_root %>
Your password (which can be changed on login) is: <%= @password %>
          
Regards,
<%= $email_signoff %>